# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
/data
writing/paper1_visualvocab_files/figure-latex/figure-1.pdf
writing/paper1_visualvocab_files/figure-latex/figure-1.png
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-10-1.pdf
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-10-1.png
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-16-1.pdf
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-16-1.png
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-17-1.pdf
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-17-1.png
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-18-1.pdf
writing/paper1_visualvocab_files/figure-latex/unnamed-chunk-18-1.png
stimuli/0_get_CLIP_similarities/.DS_Store
stimuli/.DS_Store
/analysis/step2_descriptives_cursor_files
analysis/step2_descriptives_files/figure-html/unnamed-chunk-7-1.png
analysis/step2_descriptives_files/figure-html/unnamed-chunk-8-1.png
writing/.DS_Store
.DS_Store
